==
<?php
use Vox\Video\Models\Category;

function onStart() {
  $this['categories'] = Category::all();
}
?>
==
<header>
  <div class="tutorials d-flex align-items-center py-1 px-2">
    <a class="text-white" href="https://mp.weixin.qq.com/s?__biz=MzIxNzMyNzU4OQ==&mid=2247483729&idx=1&sn=cf9bae4665a9629e0b1e590a84212cb1&chksm=97fa33dba08dbacd8fe5ba46cb2d4a58b3a0c104cbbc24c0f268ae8f61779ac5cbfcea5f5c4d#rd">磁力链使用教程</a>
    <a class="text-white" href="https://mp.weixin.qq.com/s?__biz=MzIxNzMyNzU4OQ==&mid=2247483710&idx=1&sn=46dba0da897f9b7833d7f6433c9a9ee9&chksm=97fa33b4a08dbaa24b67d10d90505a1d7ddeb527f1a82bd63c3e2c4c174c44255b858e6c1042#rd">种子使用教程</a>
  </div>
  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <a class="text-info" href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
    <form action="{{ 'search'|page }}" method="POST">
      <input class="form-control form-control-sm rounded-0" name="keyword" value="{{ keyword }}" type="search" placeholder="搜索...">
    </form>
  </div>
  <nav data-scroll-nav class="bg-info">
    <div class="d-inline-flex">
      <a class="py-2 px-3 text-white {{ this.page.id == 'home' ? 'bg-warning active' }}" href="{{ 'home'|page }}">首页</a>
      {% for category in categories %}
        <a class="py-2 px-3 text-white {{ this.page.id == 'video-list' and this.param.category_id == category.id ? 'bg-warning active' }}" href="{{ 'video-list'|page({ category_id: category.id }) }}">
          {{ category.title }}
        </a>
      {% endfor %}
      <a class="py-2 px-3 text-white {{ this.page.id == 'demand' ? 'bg-warning active' }}" href="{{ 'demand'|page }}">求片</a>
    </div>
  </nav>
</header>
