==
<?php
use Vox\Video\Models\Category;

function onStart() {
  $this['categories'] = Category::all();
}
?>
==
<header>
  <div class="d-flex justify-content-between align-items-center bg-light p-2">
    <a class="text-info" href="{{ 'home'|page }}">{{ this.theme.site_name }}</a>
    <form action="{{ 'search'|page }}" method="POST">
      <input class="form-control form-control-sm rounded-0" name="keyword" value="{{ keyword }}" type="search" placeholder="搜索...">
    </form>
  </div>
  <nav data-scroll-nav class="bg-info">
    <div class="d-inline-flex">
      <a class="py-2 px-3 text-white {{ this.page.id == 'home' ? 'bg-warning active' }}" href="{{ 'home'|page }}">首页</a>
      {% for category in categories %}
        <a class="py-2 px-3 text-white {{ this.page.id == 'video-list' and this.param.category_id == category.id ? 'bg-warning active' }}" href="{{ 'video-list'|page({ category_id: category.id }) }}">
          {{ category.title }}
        </a>
      {% endfor %}
      <a class="py-2 px-3 text-white {{ this.page.id == 'demand' ? 'bg-warning active' }}" href="{{ 'demand'|page }}">求片</a>
    </div>
  </nav>
</header>
